[user]
  name = Luca Guidi
  email = me@lucaguidi.com
	signingkey = 7C6006DB2E58CEB8
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = "NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim"
	excludesfile = /Users/jodosha/.gitignore_global
[merge]
  tool = opendiff
[push]
  branch = current
	default = simple
[pull]
  branch = current
[github]
  user = jodosha
[format]
  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s
[mergetool]
  keepBackup = true
[heroku]
	account = personal
[gpg]
	program = /usr/local/bin/gpg
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
