[user]
  name = Luca Guidi
  email = me@lucaguidi.com
	signingkey = 05AC98CD
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = "NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim"
	excludesfile = /Users/luca/.gitignore_global
[merge]
  tool = opendiff
[push]
  branch = current
	default = simple
[pull]
  branch = current
[github]
  user = jodosha
[format]
  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s
[mergetool]
  keepBackup = true
[heroku]
	account = personal
[gpg]
	program = gpg1
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
