[user]
  name = Luca Guidi
  email = me@lucaguidi.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = vim
	excludesfile = /Users/luca/.gitignore_global
[merge]
  tool = opendiff
[push]
  branch = current
	default = simple
[pull]
  branch = current
[github]
  user = jodosha
[format]
  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s
[mergetool]
  keepBackup = true
[heroku]
	account = personal
